<!DOCTYPE HTML>
<meta charset="utf-8">
<title>Крошечный документ HTML5</title>

<form method="POST">
  {% csrf_token %}
  <table>
        {{ form }}
  </table>
  <input type="submit" value="Рассчитать" >
</form>


<h4><p> Ваше имя : {{ name }}</p></h4>
<h4><p> Ваше название : {{ business }}</p></h4>
<h4><p> Длина названия (символов) : {{ dlina }}</p></h4>
<h4><p> Цель / Основа / Жертва: {{ cel }} / {{ osnova }} / {{ jertva }}</p></h4>


<h4><p> {{ cel_txt }}</p></h4>
<h4><p> {{ osnova_txt }}</p></h4>
<h4><p> {{ jertva_txt }}</p></h4>
